@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.arrow {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 100px auto;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

     .arrow::after {
    border-top-color: #000;
    transform: translateY(-50%);
}

.arrow.animate {
    animation: arrowAnimation 1s ease-in-out infinite;
}