footer{
    margin-top: 200px;
    background-color: rgb(197, 197, 197);
    height: 500px;
    .contacto{
        padding-top: 150px;
        padding-left: 60px;
    }
    .pie{
        display: flex;
    }
    
    .links{
        padding-top: 50px;
        padding-left: 60px;
        font-family: Helvetica;
        list-style: none; 
        a{
            text-decoration: none;
            color: $colorLink;
        }
    }   
      

}