@media (max-width: 1440px) {
    
  

    main{

        .container{
            padding: 140px;
            margin-left: 0px;
            background-size: 900px;
            h1{
                font-size: 2rem;
            }
        }

        .texto{
            .yo{
                margin-top: 225px;
            }
        }

        .videos{
            padding-left: 250px;
        }
          
        .titulo{
            margin-top: 200px;
            margin-bottom: 80px;
            padding-left: 420px;
        }
        .encabezados{
            padding-left: 130px;
           
        }
        .titutra{
            margin-top: 190px;
        }
      .imagen{
        margin-left: 290px;
        width: 850px;
      }
      .descript1{
        padding-left: 600px;
      }
      .link{
        padding-left: 624px;
      }
      .descript2{
        padding-left: 555px;
      }
      .resume{
        padding-left: 70px;
        text-align: center;
        width: 1440px;
        .nuevotama{
            font-size: 1.2rem;
            width: 1300px;
        }
      }
      .gerboy{
        padding-left: 160px;
        grid-template-columns: 1fr 1fr;
      }
      .cv{
        padding-left: 550px;
      }

      .textform{
        padding-left: 215px;
      }
      .formu{
        .mb-4{
            margin-left: 135px;
            padding-right: 300px;
        }
        .btn{
            margin-left: 545px;
        }
      }

    .videotra{
       
        padding-left: 300px;
        .videoss{
            width: 800px;
        }
    }
    .trabajo1{
        margin-top: 10px;
    }
    .grid{
        .D{
            width: 410px;
        }
    }
    .volver{
        padding-left: 600px;
    }
    .holi{
        .E{
            padding-top: 50px;
            width: 900px;
            height: 450px;
        }
        .bajada{
            margin-top: 110px;
        }
    }
        
    }
   
}

@media (max-width:1024px){
    main{

        .container{
            padding: 100px;
            margin-left: 0px;
            background-size: 900px;
            background-position: 200px;
            h1{
                font-size: 2rem;
            }
        }

        .texto{
            
            .yo{
                margin-top: 225px;
                height: 700px;
            }
            .naci{
                font-size: 1.3rem;
            }
        }
        
        
        .videos{
            padding-left: 100px;
            .v{
                width: 700px;
            }
        }
          
        .titulo{
            margin-top: 200px;
            margin-bottom: 80px;
            padding-left: 220px;
        }
        .encabezados{
            padding-left: 100px;
           
        }
        .titutra{
            margin-top: 270px;
        }
      .imagen{
        margin-left: 150px;
        width: 750px;
      }
      .descript1{
        padding-left: 400px;
      }
      .link{
        padding-left: 424px;
      }
      .linko{
        padding-left: 444px;
      }
      .descript2{
        padding-left: 355px;
      }
      .resume{
        padding-left: 70px;
        text-align: center;
        width: 1024px;
        .nuevotama{
            font-size: 1.2rem;
            width: 920px;
        }
      }
      .gerboy{
        padding-left: 80px;
        grid-template-columns: 1fr 1fr;
        .F{
            width: 450px;
        }
      }
      .cv{
        padding-left: 350px;
      }

      .textform{
        padding-left: 115px;
        font-size: 1.8rem;
      }
      .formu{
        .mb-4{
            margin-left: 135px;
            padding-right: 300px;
        }
        .btn{
            margin-left: 345px;
        }
      }

    .videotra{
       
        padding-left: 180px;
        .videoss{
            width: 650px;
        }
    }
    .trabajo1{
        margin-top: 10px;
    }
    .grid{
        .D{
            width: 290px;
        }
    }
    .volver{
        padding-left: 400px;
    }
    .holi{
        .P{
            width: 600px;
        }
        .E{
            padding-top: 50px;
            width: 400px;
            height: 250px;
        }
        .bajada{
            margin-top: 40px;
        }
    }
        
    }
}

@media (max-width:768px){
    
    
    
    main{

        .container{
            padding: 100px;
            margin-left: 0px;
            background-size: 700px;
            background-position: 150px;
            margin-bottom: 0px;
            h1{
                font-size: 1.8rem;
               
            }
        }

        .texto{
            
            .yo{
                margin-top: 100px;
                height: 600px;
            }
            .naci{
                padding-top: 110px;
                font-size: 1rem;
            }
        }
        
        .videos{
            padding-left: 40px;
            .v{
                width: 550px;
            }
        }
          
        //  trabajos seleccionados

        .titulo{
            margin-top: 200px;
            margin-bottom: 80px;
            padding-left: 100px;
        }
        .encabezados{
            padding-left: 80px;
            font-size: 1.6rem;
           
        }
        .titutra{
            margin-top: 270px;
        }
      .imagen{
        margin-left: 100px;
        width: 550px;
      }
      .descript1{
        padding-left: 280px;
      }
      .link{
        padding-left: 310px;
      }
      .descript2{
        padding-left: 220px;
      }
      .linko{
        padding-left: 320px;
      }

    //   resumen

      .resume{
        padding-left: 70px;
        text-align: center;
        width: 768px;
        .nuevotama{
            font-size: 1.2rem;
            width:650px;
        }
      }
      .gerboy{
        padding-left: 80px;
        grid-template-columns: 1fr 1fr;
        .F{
            width: 300px;
        }
      }
      .cv{
        padding-left: 210px;
      }

      .textform{
        padding-left: 95px;
        font-size: 1.3rem;
      }
      .formu{
        .mb-4{
            margin-left: 100px;
            padding-right: 250px;
        }
        .btn{
            margin-left: 235px;
        }
      }


    //   trabajo 1

    .videotra{
       
        padding-left: 130px;
        .videoss{
            width: 500px;
        }
    }
    .t-uno{
        text-align: center;
    }
    .trabajo1{
        margin-top: 10px;
    }
    .grid{
        .D{
            width: 200px;
        }
    }
    .volver{
        padding-left: 270px;
    }
    .holi{
        display: flex;
        flex-direction: column;
        .P{
            padding-left: 25px;
            width: 500;
        }
        .E{
            padding-top: 50px;
            width: 600px;
            height: 350px;
            padding-left: 20px;
        }
        .bajada{
            margin-top: 40px;
            padding-left: 90px;
            text-align: center;
        }
    }
        
    }
}


@media (max-width:480px){
  
    
    main{

        .container{
            padding: 50px;
            margin-left: 0px;
            background-size: 370px;
            background-position: 90px;
            margin-bottom: 0px;
            h1{
                font-size: 1.8rem;
               
            }
        }

        .texto{
            display: flex;
            flex-direction: column;
            .yo{
                padding-left: 35px;
                margin-top: 0px;
                height: 600px;
                width: 400px;
            }
            .naci{
                padding-left: 5px;
                padding-top: 110px;
                font-size: 1rem;
                text-align: center;
            }
        }
        
        .traba{
            padding-left: 170px;
        }
        
        .videos{
            padding-left: 0px;
            margin: 15px;
            .v{
                width: 410px;
            }
        }
          
        //  trabajos seleccionados

       
        .titulo{
            margin-top: 200px;
            margin-bottom: 80px;
            padding-left: 0px;
            h2{
                font-size: 1.5rem;
            }
        }
        
        .titutra{
            margin-top: 270px;
           padding-left: 95px;
           font-size: 1.7rem;
           
        }
      .imagen{
        margin-left: 40px;
        width: 400px;
      }
      .descript1{
        padding-left: 135px;
      }
      .link{
        padding-left: 165px;
      }

    .trabajo1{
        margin-top: 270px;
           padding-left: 105px;
           font-size: 1.7rem;
    }
      .descript2{
        padding-left: 85px;
      }
      .linko{
        padding-left: 165px;
      }

    //   resumen

      .resume{
        padding-left: 70px;
        text-align: center;
        width: 370px;
        .nuevotama{
            font-size: 1.2rem;
            width:370px;
        }
      }
      .gerboy{
        padding-left: 60px;
        grid-template-columns: 1fr ;
        .F{
            width: 370px;
        }
      }
      .cv{
        padding-left: 70px;
      }

    //   FORMULARIO
      .textform{
        padding-left: 55px;
        font-size: 1rem;
      }
      .formu{
        .mb-4{
            margin-left: 30px;
            padding-right: 100px;
        }
        .btn{
            margin-left: 115px;
        }
      }


    //   trabajo 1

    .videotra{
       
        padding-left: 40px;
        .videoss{
            width: 400px;
        }
    }
    .t-uno{
        text-align: center;
    }
    .trabajo1{
        margin-top: 10px;
    }
    .grid{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        .D{
            width: 400px;
        }
    }
    .volver{
        padding-left: 270px;
    }
    .holi{
        display: flex;
        flex-direction: column;
        
        
        .P{
            
            height: 800;
            width: 400px;
            padding:0px;
            padding-right: 80px;
        }
        .E{
            padding-top: 50px;
            width: 400px;
            height: 250px;
            padding-left: 0px;
            padding-right: 80px;
        }
        .bajada{
            margin-top: 40px;
            padding-left: 90px;
            text-align: center;
        }
    }
    .volver{
        padding-left: 130px;
    }
        
    }
}


@media (max-width:320px){
    
    header{
        nav{
           
            .tipo{
                
                display: flex;
                flex-direction: column;
                font-size: 1rem;
            }
        }
    }
    
    main{
        

        .container{
            padding: 50px;
            margin-left: 0px;
            background-size: 370px;
            background-position: 90px;
            margin-bottom: 0px;
            h1{
                font-size: 1.8rem;
               
            }
        }

        .texto{
            display: flex;
            flex-direction: column;
            
            .yo{
                padding-left: 20px;
                margin-top: 0px;
                height: 490px;
                width: 290px;
                
            }
            .naci{
                padding-left: 0px;
                padding-top: 110px;
                font-size: 1rem;
                text-align: center;
                width: 240px;
            }
        }
        
        .traba{
            padding-left: 100px;
        }
        
        .videos{
            padding-left: 0px;
            margin: 15px;
            .v{
                width: 250px;
            }
        }
          
        //  trabajos seleccionados

       
        .titulo{
            margin-top: 200px;
            margin-bottom: 80px;
            padding-left: 0px;
            h2{
                font-size: 1.5rem;
            }
        }
        
        .titutra{
            margin-top: 270px;
           padding-left: 35px;
           font-size: 1.7rem;
           
        }
      .imagen{
        margin-left: 40px;
        width: 250px;
      }
      .descript1{
        padding-left: 95px;
        font-size: 1.2rem;
      }
      .link{
        padding-left: 115px;
        font-size: .8rem;
      }

    .trabajo1{
        margin-top: 270px;
           padding-left: 35px;
           font-size: 1.8rem;
    }
      .descript2{
        padding-left: 85px;
      }
      .linko{
        padding-left: 105px;
        font-size: .8rem;
      }

    //   resumen

      .resume{
        padding-left: 30px;
        text-align: center;
        width: 270px;
        .nuevotama{
            font-size: 1.2rem;
            width:270px;
        }
      }
      .gerboy{
        padding-left: 40px;
        grid-template-columns: 1fr ;
        .F{
            width: 240px;
        }
      }
      .cv{
        padding-left: 10px;
      }

    //   FORMULARIO
      .textform{
        padding-left: 55px;
        font-size: 1rem;
        p{
            font-size: 2rem;
        }
      }
      .formu{
        .mb-4{
            margin-left: 5px;
            padding-right: 80px;
        }
        .btn{
            margin-left: 40px;
        }
      }


    //   trabajo 1

    .videotra{
        width: 1px;
       
        padding-left: 40px;
        .videoss{
            width: 250px;
        }
    }
    .t-uno{
        text-align: center;
        font-size: 1rem;
    }
    .trabajo1{
        margin-top: 10px;
    }
    .grid{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        .D{
            width: 240px;
        }
    }
    .volver{
        padding-left: 270px;
    }
    .holi{
        display: flex;
        flex-direction: column;
        
        
        .P{
            
            height: 150px;
            width: 250px;
            padding:0px;
            padding-right: 80px;
        }
        .E{
            padding-top: 50px;
            width: 250px;
            height: 150px;
            padding-left: 0px;
            padding-right: 80px;
        }
        .bajada{
            margin-top: 40px;
            padding-left: 90px;
            text-align: center;
            font-size: 1rem;
        }
    }
    .volver{
        padding-left: 100px;
    }
        
    }

    
      


}