$colorFondo: #eeeded;
$colorLink: #1f812f;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Mattone";
    src: url(../tipografias/mattone/Mattone-150.woff);
    src: url(../tipografias/mattone/Mattone-150.woff2);
}


@import "body";
@import "header";
@import "main";
@import "footer";
@import "queries";
@import "flecha";


